.BuildControls {
    width: 100%;
    background-color: #f2f1f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;    
}
.TotalPrice { 
    font-size: 130%;
}