.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 4px;
    margin: 0 8px;
    width: 70px;
    border: none;
    box-shadow: 2px 2px 12px #e1ddda;
    cursor: pointer;
    outline: none;
    border-radius: 25px;
    font-size: 130%;
    font-weight: bold;
    background-color: white;
}

.BuildControl button:disabled {
    background-color: #d3d3d3;
    color: #ebeaea;
    cursor: default;
}

.BuildControl button:hover:disabled {
    color: #b6b5b5;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: 700;
    width: 80px;
    color: #302e28;
}

.BuildControl .Less {  
    color: #e15504;
}

.BuildControl .More {
    color: #109801;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #fac8be;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #bbe4b5;
}