.OrderSummary {
    text-align: center;
}

.OrderList {
    text-align: left;
    margin: 0 auto;
    margin-left: -10%;
    display: inline-block;
}

.TotalPrice {
    font-size: 110%;
    font-weight: 700;
}
