.ContactData {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    padding: 10px;
    border: solid 1px #333;
    border-radius: 10px;
}

.Input {
    width: 100%;
    display: block;
    border: 0;
    border-bottom: solid 1px #333;
    margin-bottom: 10px;
}

@media (min-width: 600px) {
    .ContactData {
        width: 500px;
    }
}