.Input {
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    font-size: 95%;
    padding: 2px 10px;
    display: block;
    width: 95%;
    border: 0;
    border-bottom: solid 1px #718f6f;
    margin: 0 auto 18px;
    box-sizing: border-box;
    color: inherit;
    border-radius: 0;
}

.InputElement::placeholder {
    color: inherit;
}

.InputElement:focus {
    outline: none;
    background-color: #e7f5e6;
    /* border-bottom: solid 2px #6ab567; */
}

.Invalid {
    border: solid 2px #fa1d1d;
}

.InvalidError {
    color: #fa1d1d;
    font-size: 90%;
    text-align: center;
    width: 95%;
    margin: -15px auto 12px;
    animation: show 0.1s eases;
}

@keyframes show {
    from { opacity: 0}
    to { opacity: 1}
}
